<div class="row">
    <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" data-ng-model="filterPokemon" name="filterPokemon" placeholder="Pesquisar Pokémon" class="form-control">
                    <div class="input-group-addon" data-ng-click="filterPokemon = undefined"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a class="btn btn-link" data-ng-click="vm.showAllPokemon(true)">Habilitar todos</a>|<a class="btn btn-link"
                            data-ng-click="vm.showAllPokemon(false)">Desabilitar todos</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form name="ivMinForm">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm" data-ng-model="ivMin" id="ivMin" placeholder="IV mínimo" ui-number-mask="0"
                                            min="0" max="100" name="ivMinAll">
                                        <div data-ng-if="ivMinForm.ivMinAll.$invalid">
                                            <span data-ng-if="ivMinForm.ivMinAll.$error.max">Valor máximo para o iv é 100</span>
                                            <span data-ng-if="ivMinForm.ivMinAll.$error.min">Valor mínimo para o iv é 0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <a class="btn btn-link" data-ng-click="vm.setIvMinAllPokemon(ivMin); ivMin = null;" data-ng-disabled="ivMinForm.ivMinAll.$invalid">Aplicar a todos</a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Pokémon
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
                        Exibir
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        IV Min
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        Level Min
                    </div>
                </div>
                <div class="row" style=" border-bottom: 1px #dcd7d7 solid; margin-bottom: 10px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div data-ng-repeat="pokemon in vm.listPokemon | filter: {name:filterPokemon}" class="row" style=" margin-bottom: 8px">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span style="margin-right:5px;">{{pokemon.name}}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
                        <input id="show" type="checkbox" data-ng-model="pokemon.show" data-ng-click="vm.configPokemonChange(pokemon)">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
                        <input type="text" data-ng-model="pokemon.ivMin" class="form-control input-sm" id="ivMin" placeholder="IV Min" data-ng-blur="vm.configPokemonChange(pokemon)"
                            ui-number-mask="0" min="0" max="100">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
                        <input type="text" data-ng-model="pokemon.lvlMin" class="form-control input-sm" id="lvlMin" placeholder="Lvl Min" data-ng-blur="vm.configPokemonChange(pokemon)"
                            ui-number-mask="0" min="0" max="40">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>