<div class="row">
    <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" data-ng-model="filterPokemon" name="filterPokemon" placeholder="Pesquisar pokemon" class="form-control">
                    <div class="input-group-addon" data-ng-click="filterPokemon = undefined"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                </div>
            </div>
            <div class="panel-body" style="max-height: 800px; overflow-y: auto;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a class="btn btn-link" data-ng-click="vm.showAllPokemon(true)">Habilitar todos</a>|<a class="btn btn-link"
                            data-ng-click="vm.showAllPokemon(false)">Desabilitar todos</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form name="ivMinForm">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm" data-ng-model="ivMin" id="ivMin" placeholder="IV mínimo" ui-number-mask="0"
                                            min="0" max="100" name="ivMinAll">
                                        <div data-ng-if="ivMinForm.ivMinAll.$invalid">
                                            <span data-ng-if="ivMinForm.ivMinAll.$error.max">Valor máximo para o iv é 100</span>
                                            <span data-ng-if="ivMinForm.ivMinAll.$error.min">Valor mínimo para o iv é 0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <a class="btn btn-link" data-ng-click="vm.setIvMinAllPokemon(ivMin); ivMin = null;" data-ng-disabled="ivMinForm.ivMinAll.$invalid">Aplicar a todos</a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style=" border-bottom: 1px #dcd7d7 solid; margin-bottom: 10px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div data-ng-repeat="pokemon in vm.listPokemon | filter: filterPokemon" class="row" style=" margin-bottom: 8px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img class="pull-left" data-ng-src="./img/{{pokemon.id}}.png" style="margin-right:5px;">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-ng-model="pokemon.show" data-ng-click="vm.configPokemonChange(pokemon)"> ou
                        </label>
                        <div class="form-group" style="display: inline;">
                            <label class="sr-only" for="ivMin">ou</label>
                            <input type="text" style="width: 90px; display: inline;" data-ng-model="pokemon.ivMin" class="form-control input-sm" id="ivMin"
                                placeholder="IV mínimo" data-ng-blur="vm.configPokemonChange(pokemon)" ui-number-mask="0" min="0"
                                max="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>